html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

footer {

    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
}

footer .social-icons a {
color: #ffffff;
}

footer .list-inline-item a:hover {
    text-decoration: underline !important;
       
}

.modal-dama {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.modal-dama .kutu {
    width: 50%;
    padding-bottom: 50%; 
    height:6rem !important;
}

.modal-dama .bg-dark {
    background-color: #000 !important; 
}

#customAlertOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#customAlertBox {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

#customAlertHeader {
    font-weight: bold;
    margin-bottom: 10px;
}

#customAlertFooter {
    margin-top: 20px;
    text-align: center;
}


#ChangePasswordAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#ChangePasswordAlertBox {
    display: none;
    position: fixed;
    top: 15px; 
    left: 50%;
    transform: translateX(-50%);
    max-width:30%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

#ChangePasswordAlertHeader {
    font-weight: bold;
    margin-bottom: 10px;
}

#ChangePasswordAlertFooter {
    margin-top: 20px;
    text-align: center;
}

.upload-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.upload-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container .custom-file-upload {
    border: 1px solid #ccc;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.upload-container .custom-file-upload:hover {
    background-color: #e9e9e9;
}

#thumbsUpIcon {
    cursor: pointer; 
    outline: none; 
}

#thumbsUpIcon:focus {
    outline: none; 
}

#thumbsUpIcon.clicked {
    color: blue !important; 
}