html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

footer {
    margin-top: 50px; 
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #343a40;
    color: #ffffff;
}

footer .social-icons a {
color: #ffffff;
}

    footer .list-inline-item a:hover {
        text-decoration: underline !important;
       
    }