
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="row" style="min-height:550px;">

    <div class="alert alert-info" style="max-height:180px;">
        <h1 class="text-center">@ViewBag.message</h1>
    </div>

</div>

