@model IndexViewModel

@section Scripts
{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row justify-content-center">
    <div class="col-md-8">


        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="d-flex align-items-start">
                    <button style="margin-bottom:11.65rem" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <i class="fa-solid fa-arrow-left" style="font-size: 1.5rem; color: blue;"></i>
                    </button>

                    <h3 class="text-center flex-grow-1">Popüler Şikayetler</h3>

                    <button style="margin-bottom:11.65rem" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <i class="fa-solid fa-arrow-right-long" style="font-size: 1.5rem; color: blue;"></i>
                    </button>
                </div>
                <div class="carousel-item active">
                    <div style=" border-radius: 30px;" class="card border-1 bg-transparent ">
                        <div class="card-header border-0 bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img src="~/img/sliderimages/avatar1.png" class="d-block" style="width:3rem; max-height: 3rem;" alt="...">
                                </div>
                                <div class="col text-start">
                                    <h5 class="mb-0">Kullanıcı Adı</h5>
                                    <p class="text-muted mb-0">Tarih</p>
                                </div>
                                <div class="col text-end">
                                    <p class="mb-0">10 Yorum</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center border-0 bg-transparent">
                            <h5 class="text-start">@Model.Posts.First().Title</h5>
                        </div>
                        <div class="card-footer text-center border-0 bg-transparent">
                            <a href="#" class="btn btn-outline-success">
                                <i class="fa-solid fa-arrow-right-long"></i>Detaylar
                            </a>
                        </div>


                    </div>
                </div>
                @foreach (var image in Model.SliderViewModel.Images)
                {
                    <div class="carousel-item">
                        <div style=" border-radius: 30px;" class="card border-1 bg-transparent ">
                            <div class="card-header border-0 bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <img src="~/img/sliderimages/@image" class="d-block" style="width:3rem; max-height: 3rem;" alt="...">
                                    </div>
                                    <div class="col text-start">
                                        <h5 class="mb-0">Kullanıcı Adı</h5>
                                        <p class="text-muted mb-0">Tarih</p>
                                    </div>
                                    <div class="col text-end">
                                        <p class="mb-0">10 Yorum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center border-0 bg-transparent">
                                <h5 class="text-start">@Model.Posts.First().Content</h5>
                            </div>
                            <div class="card-footer text-center border-0 bg-transparent">
                                <a href="#" class="btn btn-outline-success">
                                    <i class="fa-solid fa-arrow-right-long"></i>Detaylar
                                </a>
                            </div>


                        </div>

                    </div>
                }
            </div>


        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-9">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Güncel Şikayetler</h1>
            <hr class="my-3">
            @foreach (var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-8">
                            <h5><a href="#" class="fw-bold">@post.Title</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt incidunt et libero earum, harum voluptatem dolorem repellendus sed perferendis itaque provident porro. Deserunt doloremque ipsum repellendus, molestiae aspernatur quos illum.</p>
                            <a href="#" class="badge bg-warning bg-opacity-8 text-danger mb-2 fw-bold tags">Web Geliştirme</a>
                        </div>
                        <div class="col-4">
                            <img src="~/img/@post.Image" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
        </div>


    </div>
    <div class="col-lg-3">

    </div>
</div>
