
@model ResetPasswordViewModel
<div class="row mb-5" style="min-height:450px;">
    <div class="col-md-6 offset-md-3">

        <div id="ResetPasswordErrorMessages" class="alert alert-danger" role="alert" style="display:none;">

        </div>


        <form id="ResetPasswordForm" method="post">

            <div class="col-md-8 offset-md-4 mb-3">   <h2>Yeni Şifre Oluşturma</h2></div>
            <input type="hidden" id="UserId" name="UserId" value="@TempData["userId"]" />
            <input type="hidden" id="Token" name="Token" value="@TempData["token"]" />


            <div class="row mb-3">
                <label for="ResetPassword" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input name="ResetPassword" id="ResetPassword" class="form-control" placeholder="Şifreniz" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="ResetPasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input name="ResetPasswordConfirm" id="ResetPasswordConfirm" class="form-control" placeholder="Şifre Tekrar" asp-for="PasswordConfirm">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>


            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button id="PasswordResetBtn" type="submit" class="btn btn-success w-100">Şifre Yenile</button>

                </div>
            </div>



        </form>
    </div>

    <div id="ChangePasswordAlert"></div>
    <div id="ChangePasswordAlertBox" class="text-success">
        <div class="text-center" id="ChangePasswordAlertHeader">
            <h3 style="display: inline-block; margin-right: 5px; vertical-align: middle;">Başarılı</h3>
            <i style="color: green; font-size:1.5rem; vertical-align: middle; margin-left:15px" class="fa-solid fa-check-double"></i>
        </div>
        <div class="text-center" id="ChangePasswordAlertBody">Şifreniz Başarılı bir şekilde yenileniştir.</div>
        <div id="ChangePasswordAlertFooter">
            <button class="btn btn-sm btn-outline-success" id="ChangePasswordAlertCloseButton">Tamam</button>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            hideCustomAlert();

            function showCustomAlert() {
                $('#ChangePasswordAlert').fadeIn();
                $('#ChangePasswordAlertBox').fadeIn();
            }

            function hideCustomAlert() {
                $('#ChangePasswordAlert').fadeOut();
                $('#ChangePasswordAlertBox').fadeOut();
            }

            $('#ChangePasswordAlertCloseButton').click(function () {
                hideCustomAlert();
            });

            $('#ResetPasswordForm').submit(function (event) {
                event.preventDefault();
                var password = $('#ResetPassword').val();
                var confirmPassword = $('#ResetPasswordConfirm').val();
                console.log(password);
                console.log(confirmPassword);
                // AJAX request
                $.ajax({
                    url: '@Url.Action("ResetPassword", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        "userId": $('#UserId').val(),
                        "token": $('#Token').val(),
                        "request.Password": password,
                        "request.PasswordConfirm": confirmPassword,
                    },
                    success: function (response) {
                        if (response.success) {
                            showCustomAlert();

                            $('#ChangePasswordAlertCloseButton').one('click', function () {
                                hideCustomAlert();
                                window.location.href = "/Home/Index";
                            });
                        }
                        else {

                            var resetErrorMessagesContainer = $('#ResetPasswordErrorMessages');

                            resetErrorMessagesContainer.empty();
                            response.errors.forEach(function (error) {
                                console.log(error)
                                resetErrorMessagesContainer.append('<p>' + error + '</p>');
                            });
                            resetErrorMessagesContainer.show()
                        }
                    },
                    error: function (response) {

                        alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                    }
                });
            });

        });


    </script>
