@model PostCreateViewModel

<form action="Edit" method="post">
    <div class="row">
        <div class="col-9">
            <h1 class="text-center">Þikayeti Düzenle</h1>
            <div class="bg-white p-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary text-center">Kaydet</button>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-white p-4 mt-5">
                <h4>Kategorini seç</h4>
                @foreach (var category in ViewBag.Categories)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               name="categoryIds"
                               type="checkbox"
                               value="@category.CategoryId"
                               id="category_@category.CategoryId"
                               @(Model.Categories.Any(i => i.CategoryId == category.CategoryId) ? "checked" : "")>
                        <label class="form-check-label" for="tag_@category.CategoryId">
                            @category.Text
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.0/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea#Content'
        });
    });

</script>

